urxvt*foreground: white
urxvt*background: black

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC


Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

URxvt.intensityStyles:	false
URxvt.depth:		32
!FONTS
!URxvt.font:		xft:monospace:size=11
URxvt*font:           xft:DejaVu Sans Mono:style=Book:pixelsize=13
URxvt*boldFont:       xft:DejaVu Sans Mono:style=Bold:pixelsize=13
URxvt*italicFont:     xft:DejaVu Sans Mono:style=Oblique:pixelsize=13
URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=BoldOblique:pixelsize=13

URxvt.cursorBlink: true
URxvt.cursorUnderline: false 
URxvt.scrollBar:	false
URxvt.perl-lib: /home/pablo/.config/scripts
!URxvt.cursorColor:	white
URxvt.perl-ext-common:	resize-font,clipboard
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger: C-Up

!!clipboard
URxvt.keysym.Shift-Control-C: per:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False


URxvt.colorUL:		#4682B4
rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661


rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width: 30


