
!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!!! yellow
*color3: #d5911a
*color11: #d5911a
!!! blue
*color4: #407ee7
*color12: #407ee7
!!! magenta
*color5: #6666ea
*color13: #f0e43d
!!! cyan
*color6: #00ad9c
*color14: #00ad9c
!!! white
*color7: #a8a19f
*color15: #f1efee


*background:            #000000
URxvt*background:       #000000
*foreground:            #ffffff
*depth:                 32
!!*fading:                40
!!*fadeColor:           #93a1a1
*cursorColor:           #ffffff


!-- Xft settings -- !
Xft.dpi:        96
Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

! -- Fonts -- !
URxvt.font:xft:Inconsolata:pixelsize=17,style=Medium, xft:Symbola:pixelsize=9,style=Regular
URxvt.boldFont:xft:Inconsolata:style=Bold,pixelsize=19, xft:Symbola:pixelsize=10,style=Regular

*faceSize:              10
*bellIsUrgent:          true

!! scroll
!! do not scroll with output
URxvt*scrollTtyOutput:      false
!! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true
!! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

!! scrollback buffer
URxvt.secondaryScreen:  1
URxvt.secondaryScroll:  0
URxvt.secondaryWheel:   1

!! scrollbar
*scrollBar:             false

!!clipboard
URxvt.keysym.Shift-Control-C: per:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

